.square {
  min-height:80px;
  max-width: 80px;
  background: #34495e;
  border: 1px solid #2c3e50;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
}

.square:hover {
  transform: translateY(-8px);
  background: #3b536b;
}

.board {
  width: 640px;
  height: 640px;
  margin: auto;
  background: #2c3e50;
  padding: 0;
}

.row {
  margin: 0;
}

.square .circle {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  border-radius: 100px;
  display: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.square:hover .circle {
  display: block;
}

.board .square .circle.white {
  background: white;
}

.board .square .circle.black {
  background: black;
}

.board .square .circle.active {
  display: block;
}
